ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
    
}

.anchor {
    font-size: 20px;
    padding: 0.3em 0.5em;
    color: #212832;
    text-decoration: none;
}

.signup {
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 0.3em 0.5em;
}

.anchor:hover {
    color: #212832;
    background-color: #ffffff;
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 0.3em 0.5em;
}

.signup:hover{
    border: none;
}

@media screen and (max-width: 390px) {
    li:nth-child(1), 
    li:nth-child(2), 
    li:nth-child(3), 
    li:nth-child(4) {
        display: none;
    }
    
    ul {
        justify-content: flex-end;
    }
}